
<ion-row>
   <ion-col size-md="6" offset-md="3">
      <ion-button color="primary" (click)="onPlaySong()"><ion-icon name="play-outline" slot="start"></ion-icon>Play</ion-button>
      <ion-button color="primary" (click)="onPauseSong()"><ion-icon name="pause-outline" slot="start"></ion-icon>Pause</ion-button>
      <br>
      <ion-button color="primary" (click)="onChangeSong()"><ion-icon name="musical-notes-outline" slot="start"></ion-icon>Change Song</ion-button>
      <audio
         controls
         loop
         crossorigin="anonymous"
         id="audio"
         src="../../../assets/rock.mp3"
         >
      </audio>
   </ion-col>
</ion-row>

